In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'c:\Users\kocak\OneDrive\Masaüstü\Yeni klasör\globalterrorismdb_0718dist.csv', encoding='latin1')
df

C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\3722044500.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'c:\Users\kocak\OneDrive\Masaüstü\Yeni klasör\globalterrorismdb_0718dist.csv', encoding='latin1')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [3]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_').str.replace('-','_')

In [4]:
df.isnull().sum().sort_values(ascending=False).head(10)

gsubname3           181671
weapsubtype4        181621
weapsubtype4_txt    181621
weaptype4_txt       181618
weaptype4           181618
claimmode3          181558
claimmode3_txt      181558
gsubname2           181531
claim3              181373
guncertain3         181371
dtype: int64

In [5]:
null_ratio = df.isnull().mean()
df = df.loc[:, null_ratio < 0.6]

In [6]:
df['nkill'] = pd.to_numeric(df['nkill'],errors='coerce').fillna(0)
df['nwound'] = pd.to_numeric(df['nwound'],errors='coerce').fillna(0)

C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\580060014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nkill'] = pd.to_numeric(df['nkill'],errors='coerce').fillna(0)
C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\580060014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nwound'] = pd.to_numeric(df['nwound'],errors='coerce').fillna(0)

In [8]:
df.loc[:, 'nkill'] = pd.to_numeric(df['nkill'], errors='coerce').fillna(0)
df.loc[:, 'nwound'] = pd.to_numeric(df['nwound'], errors='coerce').fillna(0)

In [9]:
for col in ['city','provstate','region_txt','country_txt']:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown')

C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\3583617354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna('Unknown')

In [ ]:
df['imonth'] = df['imonth'].replace(0,1)
df['iday'] = df['iday'].replace(0,1)

df['date'] = pd.to_datetime(df[['iyear','imonth','iday']],errors='coerce')

C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\3687019547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['imonth'] = df['imonth'].replace(0,1)
C:\Users\kocak\AppData\Local\Temp\ipykernel_24744\3687019547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['iday'] = df['iday'].replace(0,1)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing